<svg
  viewbox="0 0 400 300"
  (click)="onClick($event)"
  (mousemove)="_mousemove.next($event)"
>
  <defs>
    <marker
      id="arrowhead"
      markerWidth="10"
      markerHeight="7"
      refX="10"
      refY="3.5"
      orient="auto"
      stroke="green"
      fill="green"
    >
      <polygon points="0 0, 10 3.5, 0 7" />
    </marker>
    <marker
      id="previewarrowhead"
      markerWidth="10"
      markerHeight="7"
      refX="10"
      refY="3.5"
      orient="auto"
      stroke="#FA4E43"
      fill="#FA4E43"
    >
      <polygon points="0 0, 10 3.5, 0 7" />
    </marker>
  </defs>

  <rect
    *ngFor="let rect of rectangles$ | async; trackBy: trackById"
    [attr.x]="rect.x"
    [attr.y]="rect.y"
    [attr.width]="rect.width"
    [attr.height]="rect.height"
    (click)="onClick($event, rect.id)"
    (mouseover)="onMouseover(rect.id)"
    (mouseleave)="onMouseleave(rect.id)"
    [ngClass]="rect.classes"
  ></rect>

  <line
    *ngFor="let connection of connections$ | async"
    class="connection"
    [attr.x1]="connection.x1"
    [attr.y1]="connection.y1"
    [attr.x2]="connection.x2"
    [attr.y2]="connection.y2"
  ></line>

  <line
    *ngFor="let arrow of previewArrows$ | async"
    class="previewArrow"
    [attr.x1]="arrow.x1"
    [attr.y1]="arrow.y1"
    [attr.x2]="arrow.x2"
    [attr.y2]="arrow.y2"
  ></line>
</svg>
