svg {
    width: 100vmin;
    height: 100vmin;
}

rect {
    fill: none;
    pointer-events: all;
    stroke: #9D52FE;
}

line {
    pointer-events: none;
}

.selected {
    stroke: #FA4E43;
    stroke-width: 2;
    stroke-dasharray: 4 1;
}

.hovered {
    stroke-width: 3;
}

.connection {
    stroke:green;
    marker-end: url(#arrowhead);
}

.previewArrow {
    stroke: #FA4E43;
    marker-end: url(#previewarrowhead);
}